.custom-accordion .accordion-item:last-child {
  border: none !important;
}
.custom-accordion .accordion-header {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  margin-top: 8px;
}

.custom-accordion .accordion-button {
  background-color: transparent;
  padding: 22px 8px !important;
}

.custom-accordion .accordion-body {
  font-size: 16px;
  padding: 0 8px;
  padding-bottom: 8px;
  font-weight: 300;
}

.custom-accordion {
  border-radius: 56px;
  overflow: hidden;
  padding: 56px;
}
.custom-accordion div h3 {
  font-weight: 900;
  font-size: 32;
  color: #212121;
}
.custom-accordion div p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #858383;
}

.custom-accordion .accordion-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.custom-accordion .accordion-button:focus {
  box-shadow: none;
}

.custom-accordion .accordion-button:not(.collapsed) {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.custom-accordion .accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
  /* background-color: red; */
}

/* .custom-accordion .accordion-button:not(.collapsed)::after {
  content: "−";
  font-size: 24px;
  font-weight: bold;
  color: #212121;
}  */
